# R and RStudio files.
.Rhistory
.RData
.Rproj.user
.Rproj.user/

# The devtools zip is downloaded when the package is updating itself.  If it's not deleted, there's no reason to commit it to the repository.
devtools.zip

# Protected Information; see cubuspl42's answer in http://stackoverflow.com/questions/2415873/exceptions-in-gitignore
/unshared_material/*
/data_unshared/*

/data/unshared/derived/*

studies/map/physical-cogntive/outputs/*.dat
studies/map/physical-cogntive/outputs/*/*.dat

# Unnecessary files for knitr reports

# Dataset Exceptions
!utility/package_dependency_list.csv

# Keep the README files in the unshared directories.  They provide documentation, and also force the directories to be created on other machines.
# Depending on how you do it, you might need to add w/ the command line (eg, git add -f ./data_unshared/raw/README.md)
!README.md
!data_unshared/contents.md
!data_unshared/raw/README.md
!data_unshared/derived/README.md

# Exclude caches in case they contain PHI
cache/
*/cache/
*/*/cache/

## Above is the template, below is custom


*/unshared/*
*/*/unshared/*
*/*/*/unshared/*
*/*/*/*/unshared/*

output/studies/map/phys-cog/*
output/studies/octo/phys-cog/*
output/studies/lasa/phys-cog/*
output/studies/map/*
output/*/*/*/*/*/*

!output/README.md
!output/*/*.md
!output/*/*/*.md
!output/*/*/*/*.md
!output/*/*/*/*/*.md
!output/*/*/*/*/*/*.md
!output/*/*/*/*/*/*/*.md

studies/*/unshared/*

reports/anatomy-physical/*/*/*.png

data/unshared


# Prevent possible data in outputs


# Dataset Exceptions
!UtilityScripts/PackageDependencyList.csv

# Keep the README files in the unshared directories.  They provide documentation, and also force the directories to be created on other machines.
!data/unshared/README.md

# README htmls in any folder
README.html

## Mplus dgm files
*.dgm
*.gh5
*.dat
*.inp

## mplus automation log
*Models.log

# Documents
/libs/materials/*

*.db
*.db
*.ini
*.ini
libs/literature/replication/2015-Maxwell-Lau-Howard.pdf
studies-2017-04-24.rar
data/shared/derived/ls_catalog.rds
data/shared/derived/ls_catalog_dem_criteria.rds
libs/drafts/pulmonary-2017-05-04-koval-edits.docx
libs/drafts/pulmonary-2017-05-04.docx

    
*.sav
libs/drafts/pulmonary-2017-05-23.docx
libs/drafts/pulmonary-ije_coi_form-signed.pdf
libs/drafts/pulmonary/revision-2/All Tables for Pulmonary Paper.xlsx
libs/drafts/pulmonary/revision-2/Figures/Fig1 Systematic Review Flow Chart.jpg
libs/drafts/pulmonary/revision-2/Figures/Fig3 and Supp Figs2 and 3 (Forest Plot Figures).xlsx
libs/drafts/pulmonary/revision-2/Figures/Supp Fig1 Detailed Systematic Review Flow Chart.jpg
libs/drafts/pulmonary/revision-2/Pulmonary Paper 2017-06-09.docx
libs/drafts/pulmonary/revision-2/~$lmonary Paper 2017-06-09.docx
libs/drafts/pulmonary/revision-2/Figures/Fig2 Coordinated Anlysis Model Specification.docx
sandbox/meta-analysis/MetaAnalysis_Piccinin.xlsx